<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta charset="utf-8">
<title>Craft Ops</title>
<meta name="author" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<link rel="stylesheet" href="/static/vendor/furtive/site/index.furtive.min.css">
</head>
<body>
  <div class="py2">
    <div class="txt--center">
      <h1 class="h2">
        Craft Ops<br>
        <small class="small muted"></small>
      </h1>
      <div class="my2">
        <a href="https://github.com/stackstrap/craft-ops" class="btn" title="Craft Ops source code.">Github</a>
      </div>
    </div>
  </div>
  <div class="bg--off-white py2">
    <section class="measure p2" id="">
      <p class="h4">
        This is the default 404 page, you need to setup the Craft admin before you can start developing...
      </p>
      <p class="h4">
        Head over to <a href="http://localhost:8000/admin">http://localhost:8000/admin</a> to do that.
      </p>
    </section>
  </div>
  <script src="/static/js/bundle.js"></script>
</body>
</html>
