<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta charset="utf-8">
<title>Craft Ops</title>
<meta name="author" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<link rel="stylesheet" href="/static/vendor/furtive/site/index.furtive.min.css">
</head>
<body>
  <div class="py2">
    <div class="txt--center">
      <h1 class="h2">
        Craft Ops<br>
        <small class="small muted"></small>
      </h1>
      <div class="my2">
        <a href="https://github.com/statckstrap/craft-ops" class="btn" title="Craft Ops source code.">Github</a>
      </div>
    </div>
  </div>
  <div class="bg--off-white py2">
    <section class="measure p2" id="">
      <h2></h2>
      <p class="h4">
      </p>
      <p class="h4">
      </p>
    </section>
  </div>
  <div class="p2 measure">
    <div class="py2">
      <h4 class="h2"></h4>
      <code>$ git clone <a href="https://github.com/statckstrap/craft-ops">https://github.com/statckstrap/craft-ops</a> project_name</code>
    </div>
  </div>
  <footer class="txt--center p2">
    <p class="small p2">
    </p>
  </footer>
</body>
</html>
